.pin-spacer {
	overflow:auto;
}

.release-price {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 35px;
    margin: 0 auto 10px;
    padding: 10px 0;
    color: #FF00A8;
    font-size: 16px;
    font-weight:700;
    letter-spacing: -0.48px;
    border-bottom: 1px solid #FF00A8;
    margin:0 63.5px 20px;
}
.release-price b {
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.024em;
}
.release-price b span {
    font-size: 18px;
    font-weight: 700;
}

.Count-wrap {
    position: static;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-column-gap: 4px;
    padding: 0 0 20px;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    z-index: 2;
}
.Count-wrap ul {
    position: relative;
    display: block;
    /* background: linear-gradient(to bottom, #8724FF 50%, #FF00A8 50%); */
    background: linear-gradient(to bottom, #8a23fd 0%, #ce34d9 50%, #f828b9 100%);
    /* background:url(/pc/img/main/count_wrap_bg.png) no-repeat 0 0 / 100% auto); */
    color: #fff;
    width: 50px;
    height: 64px;
    overflow: hidden;
    border-radius: 8px;
    font-size: 24px;
    line-height: 64px;
    margin-left:6px;
}
.number-wrap {
    display: block;
}
.Count-wrap li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    font-size: 24px;
    line-height: 64px;
}
#promotion .inner {
	width:480px;
	margin:0 auto;
} 
.promotion-guide {
    /* width: 800px; */
    width:480px;
}
.guide-list {
    position: relative;
    width: 100%;
    height: 362px;
}
.list-wrap {
    position: absolute;
    width: 100%;
    max-width: 720px;
    height: 560px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}
.item01 {
    top: 0;
}
.item02 {
    top: 18px;
}
.item03 {
    top: 36px;
}
.item04 {
    top: 54px;
}
.item05 {
    top: 72px;
}
.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.promotion-benefit {
    width: 164px;
    overflow: hidden;
}
.swiper-pagination.promotion-pagination {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 10px;
    margin: 18px auto 40px;
}
